In [14]:
import pandas as pd 

df = pd.read_csv(r"D:\d Documents\datasets for practice\Minimum Wage Data.csv", encoding = "latin")
# you can also use "ISO-8859-1"

### python defaults to using utf8 to decode the files

### the issue might lie with how the dataset was created, but sentdex points out that when we data that has been scraped is usually utf8 encoding

### lets convert this dataset so we don't have to see this problem again.

In [20]:
df.to_csv("D:\d Documents\datasets for practice\minwage.csv", encoding= "utf-8")

df.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

In [21]:
gb = df.groupby("State")

gb.get_group("Alabama").set_index("Year").head() # get all of alabama and set the year as a group.

,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
Year,,,,,,,,
1968,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
1969,Alabama,...,NaN,0.0,0.0,36.683333,0.0,0.0
1970,Alabama,...,NaN,0.0,0.0,38.825000,0.0,0.0
1971,Alabama,...,NaN,0.0,0.0,40.491667,0.0,0.0
1972,Alabama,...,NaN,0.0,0.0,41.816667,0.0,0.0

In [24]:
act_min_wage = pd.DataFrame()

# we can iterate over all the groups too
for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Low.2018"]].rename(columns = {"Low.2018" : name})
    
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns = {"Low.2018" : name}))

act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,15.12,3.37,1.12,11.88,7.20,10.08,9.00,9.00,8.28,...,0.0,0.00,NaN,7.20,10.08,0.0,11.52,7.20,9.00,8.64
1969,0.0,14.33,3.19,1.07,11.26,6.83,9.56,8.53,8.53,7.85,...,0.0,0.00,NaN,6.83,9.56,0.0,10.92,6.83,8.53,8.19
1970,0.0,13.54,3.02,7.09,10.64,6.45,10.32,8.06,10.32,8.38,...,0.0,0.00,NaN,6.45,10.32,0.0,10.32,6.45,8.38,8.38
1971,0.0,12.99,2.89,6.80,10.20,6.18,9.89,7.73,9.89,8.04,...,0.0,0.00,NaN,6.18,9.89,0.0,9.89,6.18,8.04,8.04
1972,0.0,12.57,2.80,7.19,9.88,5.99,11.08,9.58,9.58,9.58,...,0.0,8.38,NaN,7.19,9.58,0.0,9.58,7.19,8.68,8.98

In [25]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,50.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.0,50.000000,39.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.0,9.583800,2.316200,6.781600,8.632800,6.389800,8.823600,7.498800,8.343200,7.773200,...,0.0,5.541200,6.643590,6.836600,8.657400,5.897400,8.301800,7.166400,7.694200,5.149200
std,0.0,1.845176,3.474504,1.341223,1.187508,1.521052,1.023613,1.265436,1.476133,0.887354,...,0.0,2.202229,1.590176,0.819367,0.984647,2.726151,1.868613,0.793673,0.762675,1.998928
min,0.0,7.380000,0.000000,1.070000,6.420000,3.840000,6.820000,4.410000,5.510000,6.220000,...,0.0,0.000000,4.390000,4.790000,6.800000,0.000000,4.410000,5.580000,6.420000,2.260000
25%,0.0,8.252500,0.000000,6.522500,7.695000,5.072500,7.865000,7.015000,7.097500,7.172500,...,0.0,4.762500,5.105000,6.317500,7.800000,5.892500,7.227500,6.630000,7.107500,3.270000
50%,0.0,8.890000,0.000000,6.920000,8.670000,6.375000,9.075000,7.845000,8.510000,7.655000,...,0.0,6.070000,6.770000,6.930000,8.885000,6.855000,9.055000,7.075000,7.580000,5.445000
75%,0.0,10.492500,3.147500,7.290000,9.307500,7.677500,9.455000,8.327500,9.140000,8.242500,...,0.0,7.105000,7.830000,7.470000,9.372500,7.620000,9.672500,7.612500,8.145000,6.607500
max,0.0,15.120000,10.220000,8.680000,11.880000,9.500000,11.080000,9.580000,12.000000,10.010000,...,0.0,8.380000,10.010000,8.330000,10.320000,8.800000,11.520000,9.130000,9.660000,8.980000

In [33]:
# act_min_wage.corr().head()

act_min_wage.dropna().corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.034299,0.489560,0.619368,0.022579,0.631521,-0.205439,0.137961,0.706251,...,NaN,-0.232992,0.277016,0.164755,0.638072,0.331776,0.079230,0.264779,0.715256,0.386297
Arizona,NaN,0.034299,1.000000,0.402066,0.601832,0.775375,0.550665,0.495109,0.660212,-0.003392,...,NaN,0.673255,-0.758607,0.452724,0.638315,0.466566,0.657016,0.795529,0.200104,0.507443
Arkansas,NaN,0.489560,0.402066,1.000000,0.634409,0.607442,0.614433,0.468729,0.712453,0.325165,...,NaN,0.221539,-0.204485,0.505125,0.648199,0.621423,0.480696,0.745047,0.476609,0.195630
California,NaN,0.619368,0.601832,0.634409,1.000000,0.637623,0.953701,0.417050,0.631731,0.359091,...,NaN,0.346920,-0.417782,0.522567,0.939054,0.597519,0.715365,0.709669,0.518153,0.724602

### seems that there are alot of NaNs. even with df.dropna(), doesnt seem to solve the issue too

In [34]:
df.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

### as you can see, Alabama just has "..." for table_data and 000 for many things. Furthermore, Kaggle description links us to the source of the data: https://www.dol.gov/agencies/whd/state/minimum-wage/history

### as you can see, Alabama has nothing in its entries!

In [36]:
issue_df = df[df['Low.2018'] == 0]
issue_df.head()

,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,1968,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
10,1968,Florida,...,NaN,0.0,0.0,34.783333,0.0,0.0
11,1968,Georgia,...,NaN,0.0,0.0,34.783333,0.0,0.0
15,1968,Illinois,...,NaN,0.0,0.0,34.783333,0.0,0.0
17,1968,Iowa,...,NaN,0.0,0.0,34.783333,0.0,0.0

In [39]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'Arizona'],
      dtype=object)

### now we can see which states are the ones with issues. Remove them.

In [41]:
import numpy as np

act_min_wage.replace(0, np.NaN).dropna(axis = 1).corr().head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),Guam,Hawaii,...,Pennsylvania,Puerto Rico,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,-0.377934,0.717653,-0.129332,0.680886,0.258997,0.321785,0.637679,0.787915,0.672620,...,0.610814,-0.038118,0.652353,-0.326316,-0.020462,0.663558,0.411593,0.044814,0.702570,0.727932
Arkansas,-0.377934,1.000000,-0.234367,0.135749,0.047580,0.016125,0.266889,0.117245,0.039593,0.204801,...,0.159923,0.232186,0.003498,0.800116,0.194680,0.087429,-0.072343,0.420819,0.000470,-0.250592
California,0.717653,-0.234367,1.000000,0.483313,0.876215,0.479197,0.596865,0.371966,0.492052,0.519241,...,0.429061,0.512712,0.780916,-0.036787,0.392898,0.877922,0.754085,0.371765,0.584067,0.722617
Colorado,-0.129332,0.135749,0.483313,1.000000,0.402020,0.566304,0.673371,-0.232035,-0.192616,0.069800,...,-0.136195,0.657364,0.429852,0.399137,0.622330,0.448485,0.612637,0.533623,0.011501,0.130053
Connecticut,0.680886,0.047580,0.876215,0.402020,1.000000,0.552613,0.652488,0.487750,0.632073,0.621503,...,0.531769,0.626712,0.802485,0.105707,0.302538,0.898469,0.715691,0.400099,0.585790,0.814971

### what we did: 

### 1. convert 0s to NaN: this is most likely how the people who collected the data are trying to imply. Texas (which has 0) actually has minimum wage, which means they just could not get the data they wanted.

### 2. drop COLUMNS with NaN NOT ROWS!!: by default, axis = 0 means we remove the rows, which would most likely result in alot of rows disappearing. minimise this by removing the columns!

### now we have the states that have min wage data. Specifically though, we do not actually know if it's no data or actually 0. in some cases, countries might not intially have any data but then have min wage!

In [44]:
min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis = 1).corr()

# checking to see if any states with NaN issues are still inside or "fixed" data
# if nothing runs, means it works!
for problem in issue_df["State"].unique():
    if problem in min_wage_corr.columns:
        print("we're missing smth here...")

In [48]:
# we could also be more specific by checking if the entire column of an entry with NaN is all full of NaN. If it's not all 0s ie not all NaNs, it could mean that over the years, a certain state could finally implement minimum wage laws that were able to be recorded by the researchers!

grouped_issues = issue_df.groupby("State")

# grouped_issues.get_group("Alabama").head(3) 
# as you can see the 0s have not been dropped. lets check if the entire column is just all 0s

# if everything is all 0, it would mean that the sum of that column would still be 0!!!
# grouped_issues.get_group("Alabama")["Low.2018"].sum() # returns 0.0

# iterate over all the problem states
for group, data in grouped_issues:
    if data["Low.2018"].sum() != 0.0:
        print("we missed something")

# returns nothing which means all of them had no data in them!!!